In [1]:
my_set = set([1, 2, 3, 4, 5])
print(my_set)

{1, 2, 3, 4, 5}

In [3]:
my_set = {1, 2, 3}
my_set.add(4)  
print(my_set)

{1, 2, 3, 4}

In [4]:
my_set = {1, 2, 3, 4}
my_set.remove(3)  
print(my_set)

{1, 2, 4}

In [5]:
my_set = {1, 2, 3, 4}
element_to_check = 3

if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

In [6]:
my_set = {1, 2, 3, 4, 5}
count = 0

for _ in my_set:
    count += 1

print("The length of the set is:", count)

The length of the set is: 5

In [7]:
my_set = {1, 2, 3, 4, 5}
my_set.clear() 

print(my_set)

set()

In [8]:
even_numbers = {x for x in range(1, 11) if x % 2 == 0}
print(even_numbers)

{2, 4, 6, 8, 10}

In [9]:
odd_numbers = {x for x in range(1, 11) if x % 2 != 0}
print(odd_numbers)

{1, 3, 5, 7, 9}

In [10]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6}

In [11]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

intersection_set = set1 & set2
print(intersection_set)

{3, 4}

In [12]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

difference_set = set1 - set2
print(difference_set)

{1, 2}

In [13]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

is_subset = set1 <= set2
print(is_subset)

True

In [14]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

is_superset = set1 >= set2
print(is_superset)

True

In [15]:
my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

In [16]:
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
print(my_list)

[1, 2, 3, 4, 5]

In [19]:
my_set = {1, 2, 3, 4, 5}
removed_element = my_set.pop()

print("Removed element:", removed_element)
print("Updated set:", my_set)

Removed element: 1
Updated set: {2, 3, 4, 5}

In [20]:
my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()

print("Popped element:", popped_element)
print("Updated set:", my_set)

Popped element: 1
Updated set: {2, 3, 4, 5}

In [21]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

are_disjoint = set1.isdisjoint(set2)

if are_disjoint:
    print("The sets have no elements in common.")
else:
    print("The sets have elements in common.")

The sets have no elements in common.

In [23]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

symmetric_difference_set = (set1 - set2) | (set2 - set1)
print(symmetric_difference_set)

{1, 2, 5, 6}

In [24]:
set1 ={1, 2, 3}
set2 = {3, 4, 5}

set1.update(set2)

print("Updated set1:", set1)

Updated set1: {1, 2, 3, 4, 5}

In [26]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

prime_numbers = set()
num = 2  # Start with the first prime number

while len(prime_numbers) < 5:
    if is_prime(num):
        prime_numbers.add(num)
    num += 1

print(prime_numbers)

{2, 3, 5, 7, 11}

In [27]:
set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}

if set1.issubset(set2) and set2.issubset(set1):
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [28]:
my_set = {1, 2, 3, 4, 5}
my_frozen_set = frozenset(my_set)

print(my_frozen_set)

frozenset({1, 2, 3, 4, 5})

In [29]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

are_disjoint = set1.isdisjoint(set2)

if are_disjoint:
    print("The sets are disjoint (have no elements in common).")
else:
    print("The sets have elements in common.")

The sets are disjoint (have no elements in common).

In [30]:
squares_set = {x**2 for x in range(1, 6)}
print(squares_set)

{1, 4, 9, 16, 25}

In [31]:
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
filtered_set = {num for num in original_set if num % 2 != 0}

print(filtered_set)

{1, 3, 5, 7, 9}

In [32]:
original_set = {1, 2, 3, 4, 5}
new_set = {num * 2 for num in original_set}

print(new_set)

{2, 4, 6, 8, 10}

In [33]:
import random

min_value = 1
max_value = 100
num_random_numbers = 10  
random_set = set()
for _ in range(num_random_numbers):
    random_set.add(random.randint(min_value, max_value))

print(random_set)

{65, 98, 100, 14, 18, 52, 23, 58, 62, 63}

In [34]:
my_set = set()

if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [35]:
set1 = frozenset({1, 2, 3})
set2 = frozenset({4, 5, 6})
set3 = frozenset({7, 8, 9})

nested_set = frozenset([set1, set2, set3])

print(nested_set)

frozenset({frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})})

In [36]:
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)
print(my_set)

{1, 2, 4, 5}

In [37]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are equal.

In [38]:
my_string = "hello"
string_set = set()

for char in my_string:
    string_set.add(char)

print(string_set)

{'h', 'e', 'l', 'o'}

In [39]:
string_set = {"10", "20", "30", "40"}

int_set = set()

for str_num in string_set:
    try:
        int_num = int(str_num)
        int_set.add(int_num)
    except ValueError:
        print(f"Skipping non-integer value: {str_num}")

print(int_set)

{40, 10, 20, 30}

In [40]:
int_set = {10, 20, 30, 40}
string_set = set()

for int_num in int_set:
    string_num = str(int_num)
    string_set.add(string_num)

print(string_set)

{'40', '30', '10', '20'}

In [41]:
my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)

print(my_set)

{1, 2, 3, 4, 5}

In [42]:
my_set = {1, 2, 3, 4, 5}
my_tuple = tuple(my_set)

print(my_tuple)

(1, 2, 3, 4, 5)

In [43]:
my_set = {10, 5, 30, 15, 20}

max_value = max(my_set)

print("The maximum value in the set is:", max_value)

The maximum value in the set is: 30

In [44]:
my_set = {10, 5, 30, 15, 20}

min_value = min(my_set)

print("The minimum value in the set is:", min_value)

The minimum value in the set is: 5

In [45]:
user_input = input("Enter space-separated values: ")
input_list = user_input.split()
user_set = set(input_list)

print("Set created from user input:", user_set)

Enter space-separated values:  1 2 3

Set created from user input: {'1', '2', '3'}

In [46]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

if set1.isdisjoint(set2):
    print("The intersection of set1 and set2 is empty.")
else:
    print("The intersection of set1 and set2 is not empty.")

The intersection of set1 and set2 is not empty.

In [47]:
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set
n = 5
fibonacci_set = generate_fibonacci(n)

print(fibonacci_set)

{0, 1, 2, 3}

In [48]:
my_list = [1, 2, 2, 3, 4, 4, 5]
my_list = list(set(my_list))

print(my_list)

[1, 2, 3, 4, 5]

In [49]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

if set1 == set2:
    print("The sets have the same elements, regardless of count.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements, regardless of count.

In [50]:
def generate_powers_of_2(n):
    powers_of_2_set = set()
    for i in range(n):
        powers_of_2_set.add(2 ** i)
    return powers_of_2_set

n = 5 
powers_of_2_set = generate_powers_of_2(n)

print(powers_of_2_set)

{1, 2, 4, 8, 16}

In [51]:
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

common_elements = my_set.intersection(my_list)

print("Common elements:", common_elements)

Common elements: {3, 4, 5}

In [52]:
def generate_triangular_numbers(n):
    triangular_numbers_set = set()
    for i in range(1, n + 1):
        triangular_number = (i * (i + 1)) // 2
        triangular_numbers_set.add(triangular_number)
    return triangular_numbers_set
n = 5  
triangular_numbers_set = generate_triangular_numbers(n)

print(triangular_numbers_set)

{1, 3, 6, 10, 15}

In [53]:
if set2 <= set1:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

In [54]:
def generate_alternating_set(n):
    alternating_set = set()
    for i in range(n):
        alternating_set.add(i % 2)
    return alternating_set

n = 10  
alternating_set = generate_alternating_set(n)

print(alternating_set)

{0, 1}

In [55]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

set1.update(set2)
set1.update(set3)

print(set1)

{1, 2, 3, 4, 5, 6, 7}