In [3]:
s=[1,2,3,4,5,6,7,8,9,10]
type(s)

list

In [46]:
a=list(input("Enter a string:"))
count=0
#using loop to get the length of the string
for i in a:
    count +=1
print("length of the string without using 'len' is :",count)

Enter a string: harshini is studying data science

length of the string without using 'len' is : 33

In [47]:
a =['kamareddy','hyderabad','bangalore']
print("list before appending:",a)
#by using append() we can add an element in the last of the list
a.append(input("enter an element to append:"))
print("string after append:",a)

list before appending: ['kamareddy', 'hyderabad', 'bangalore']

enter an element to append: america

string after append: ['kamareddy', 'hyderabad', 'bangalore', 'america']

In [48]:
l = ['u','o','p','tt']
print("list before inter",l)
l.insert(2,'is')
#by using insert() we can add an element any where in the list
print("l after insert:",l)

list before inter ['u', 'o', 'p', 'tt']
l after insert: ['u', 'o', 'is', 'p', 'tt']

In [49]:
p=[1,3,7,9,4,5]
print('list before removing an element:',p)
p.remove(3)
#by using remove() we can remove any of the element in the list
print('list after removing an element:',p)

list before removing an element: [1, 3, 7, 9, 4, 5]
list after removing an element: [1, 7, 9, 4, 5]

In [50]:
k=[222,33,44,5567,543]
print("list before removing an element usin index:",k)
k.pop(1)
#by using pop() we can remove element of the list with index
print("list after removing an element using index:",k)

list before removing an element usin index: [222, 33, 44, 5567, 543]
list after removing an element using index: [222, 44, 5567, 543]

In [59]:
h=['harshini','is','a','girl']
i=input("enter an element to check:")
#by using if condition and checking the element present in the list or not 
if i in h:
        print("element",i.upper(),"is present in the list h")
else:
        print("element",i.upper(),"is not present in the list h")

enter an element to check: w

element W is not present in the list h

In [60]:
pk=['Code', 'datascience', 'Machine Learning', 'python', 'Studies', 'java', 'javascript','python']
print("index of Studies is",pk.index('python'))
#by using index() we can get the first occorence of the element

index of Studies is 3

In [61]:
kk=['Code', 'datascience', 'Machine Learning', 'python', 'Studies', 'java', 'python']
print(kk)
print("count of python is",kk.count('python'))
#by using count() we can get the number of occurences of the element

['Code', 'datascience', 'Machine Learning', 'python', 'Studies', 'java', 'python']
count of python is 2

In [62]:
kl=['Code', 'datascience', 'Machine Learning', 'python', 'Studies', 'java', 'python']
print(kl)
print("reversed string is :",kl[::-1])
#

['Code', 'datascience', 'Machine Learning', 'python', 'Studies', 'java', 'python']
reversed string is : ['python', 'java', 'Studies', 'python', 'Machine Learning', 'datascience', 'Code']

In [20]:
numbers = [22,3,55,6,88,9]
numbers.sort()
print(numbers)

[3, 6, 9, 22, 55, 88]

In [21]:
numberlist=[44,32,1,3,43,7]
numberlist.sort(reverse=True)
print(numberlist)

[44, 43, 32, 7, 3, 1]

In [37]:
start = int(input("Enter the start of range: "))
end = int(input("Enter the end of range: "))
for num in range(start, end + 1):
    # checking condition
    if num % 2 == 0:
        print(num, end=" ")

Enter the start of range:  1
Enter the end of range:  20

2 4 6 8 10 12 14 16 18 20

In [10]:
start =int(input("Enter the start of range: "))
end =int(input("Enter the end of range: "))
for num in range(start, end + 1):
    # checking condition
    if num % 2!=0:
        print(num, end=" ")

Enter the start of range:  1
Enter the end of range:  20

1 3 5 7 9 11 13 15 17 19

In [81]:
ko=input("enter a input")
d=list(map(int,ko.split(',')))
print("Sum of elements in the list is:",sum(d))

enter a input 1,2,3,4

Sum of elements in the list is: 10

In [84]:
kk=input("Enter an input :")
dd=list(map(int,kk.split(',')))
print("max number in the list is :",max(dd))

Enter an input : 22,3,44

max number in the list is : 44

In [85]:
kk=input("Enter an input :")
dd=list(map(int,kk.split(',')))
print("max number in the list is :",min(dd))

Enter an input : 12,3,45,5,0

max number in the list is : 0

In [40]:
stw =int(input("Enter the start of range: "))
en =int(input("Enter the end of range: "))
nums=[]
for f in range(stw, en + 1):
    x=f*f
    nums.append(x)
print(nums)

Enter the start of range:  1
Enter the end of range:  10

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
import random
res = random.sample(range(1, 100), 8)
# using random.sample()
# to generate random number list
# printing result
print ("Random number list is : ", str(res))

Random number list is :  [86, 16, 51, 93, 88, 54, 68, 81]

In [69]:
hyd=input("Enter a list:")
ssr=hyd.split(',')
kmr=list(dict.fromkeys(ssr))
print("List after removing the duplicates:",kmr)

Enter a list: 1,2,33,44,55,2,1

List after removing the duplicates: ['1', '2', '33', '44', '55']

In [2]:
kom=input("Enter a list1:")
kom1=list(kom.split(','))
gachi=input("Enter a list2:")
gachi1=list(gachi.split(','))
ee=[]
for i in kom1:
        if i in gachi1:
                ee.append(i)
print("Common elements are :",ee)

Enter a list1: 11,223,4444,5,67,
Enter a list2: 11,223,1,2,3,4

Common elements are : ['11', '223']

In [24]:
job1=[5,6,7,11,23,45]
job=[2,5,6,7,8,90]
result=[]
for i in job1:
    if i not in job:
        result.append(i)
print(result)

[11, 23, 45]

In [2]:
job2=['a','d','f']
job4=['b','s','j']
rrr=job2+job4
print(rrr)

['a', 'd', 'f', 'b', 's', 'j']

In [27]:
mylist = [5, 12, 13, 14,15]
new_list = [i * 5 for i in mylist]
print(new_list)

[25, 60, 65, 70, 75]

In [44]:
listofevenno=input("Enter a input")
list5=list(map(int,listofevenno.split(',')))
result=[]
for num in list5:
    if num%2!=0:
        result.append(num)
print("List after removing the even numbers",result)

Enter a input 1,2,22,3,4,52

List after removing the even numbers [1, 3]

In [23]:
t_list=input("List before converting into intergers:")
result=list(map(int,lis.split(',')))
print("Modified list is :",result)

List before converting into intergers: '1','2','3'

Modified list is : [1, 2, 3, 4]

In [24]:
lis = input("List before converting into intergers:")
#as input is already a string i have used map() function to convert user input into interger
dd=list(map(int,lis.split(',')))
print("Modified list is :",[str(x) for x in dd])

List before converting into intergers: 1,2,3,4

Modified list is : ['1', '2', '3', '4']

In [32]:
user_list = [[1], [2,3], [4, 5, 6, 7]]
flat_list = [num for sublist in my_list for num in sublist]
#Using list comprehension access the sublist from my_list, then access each element of the sublist
print("The flated list is: ",flat_list)

The flated list is:  [1, 2, 3, 4, 5, 6, 7]

In [64]:
dd = 10
n1, n2 = 0, 1
print("Fibonacci Series:", n1, n2, end=" ")
for i in range(2, dd):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    print(n3, end=" ")

Fibonacci Series: 0 1 1 2 3 5 8 13 21 34

In [2]:
def is_sorted(lst):
    for i in range(1,len(lst)):
        if lst[i-1]>lst[i]:
            return False
    return True

print('first list',is_sorted([1,2,3,4,7,6]))
print('Seconf list',is_sorted([1,2,3,4,6]))

first list False
Seconf list True

In [4]:
def rotate_left(lst,n):
    n=n%len(lst)
    return lst[n:] + lst[:n]
list_=[1,2,3,4,7]
n=2
rotate_list=rotate_left(list_,n)
print(rotate_list)

[3, 4, 7, 1, 2]

In [6]:
def rotate_right(lst,n):
    n=n%len(lst)
    return lst[-n:]+lst[:-n]
list_=[1,2,3,4,7]
n=2
rotate_list=rotate_right(list_,n)
print(rotate_list)

[4, 7, 1, 2, 3]

In [2]:
def prime_numbers(n):
    if n<=1:
        return False
    if n<=3:
        return True
    if n%2==0 or n%3==0:
        return False
    i=50
    while i*i<=n:
        if n%i==0 or n%(i+2)==0:
            return False
        i+=6
    return True    
prime_numbers=[num for num in range(2,51)]    
print(prime_numbers)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [4]:
def split_list_into_chunks(input_list, n):
    return [input_list[i:i + n] for i in range(0, len(input_list), n)]

input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9,88]
chunk_size = 3
chunks = split_list_into_chunks(input_list, chunk_size)

for chunk in chunks:
    print(chunk)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[88]

In [7]:
def find_second_largest(numbers):
    if len(numbers) < 2:
        return "The list must contain at least two numbers."

    largest = float('-inf')  # Initialize with negative infinity
    second_largest = float('-inf')

    for num in numbers:
        if num > largest:
            second_largest = largest
            largest = num
        elif num > second_largest and num != largest:
            second_largest = num

    if second_largest == float('-inf'):
        return "There is no second largest element."
    else:
        return second_largest

numbers = [10, 5, 20, 15, 30, 25]
number=[1,1]
result = find_second_largest(numbers)
print("Second largest number:", result)
result1 = find_second_largest(number)
print("Second largest number:", result1)

Second largest number: 25
Second largest number: There is no second largest element.

In [8]:
def square_elements(input_list):
    return [x ** 2 for x in input_list]

original_list = [1, 2, 3, 4, 5]
squared_list = square_elements(original_list)

print("Original list:", original_list)
print("List with squared elements:", squared_list)

Original list: [1, 2, 3, 4, 5]
List with squared elements: [1, 4, 9, 16, 25]

In [9]:
def list_to_dict_with_indices(input_list):
    return {value: index for index, value in enumerate(input_list)}

input_list = ["apple", "banana", "cherry", "date"]
result_dict = list_to_dict_with_indices(input_list)

print("Original list:", input_list)
print("Dictionary with elements as keys and their indices as values:", result_dict)

Original list: ['apple', 'banana', 'cherry', 'date']
Dictionary with elements as keys and their indices as values: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [10]:
import random

def shuffle_list(input_list):
    shuffled_list = input_list[:]  
    random.shuffle(shuffled_list)
    return shuffled_list

original_list = [1, 2, 3, 4, 5]
shuffled_list = shuffle_list(original_list)

print("Original list:", original_list)
print("Shuffled list:", shuffled_list)

Original list: [1, 2, 3, 4, 5]
Shuffled list: [5, 4, 1, 2, 3]

In [11]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

def first_10_factorial_numbers():
    factorial_list = []
    for i in range(10):
        factorial_list.append(factorial(i))
    return factorial_list

factorial_numbers = first_10_factorial_numbers()

print("First 10 factorial numbers:", factorial_numbers)

First 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [15]:
def have_common_element(list1, list2):
    for item1 in list1:
        for item2 in list2:
            if item1 == item2:
                return True
    return False

list1 = [1, 2, 3, 4, 5]
list2 = [88, 6, 7, 8]

if have_common_element(list1, list2):
    print("The lists have at least one element in common.")
else:
    print("The lists do not have any common elements.")

The lists do not have any common elements.

In [17]:
my_list = [1, 2, 3, 4, 5]
r=my_list.clear()  # Clears the list
print(r)

None

In [18]:
def replace_negative_with_zero(input_list):
    return [x if x >= 0 else 0 for x in input_list]

original_list = [1, -2, 3, -4, 5]
modified_list = replace_negative_with_zero(original_list)

print("Original list:", original_list)
print("Modified list with negative numbers replaced by 0:", modified_list)

Original list: [1, -2, 3, -4, 5]
Modified list with negative numbers replaced by 0: [1, 0, 3, 0, 5]

In [19]:
def string_to_list_of_words(input_string):
    words = input_string.split()
    return words

input_string = "This is an example string."
word_list = string_to_list_of_words(input_string)

print("Original string:", input_string)
print("List of words:", word_list)

Original string: This is an example string.
List of words: ['This', 'is', 'an', 'example', 'string.']

In [20]:
def list_of_words_to_string(word_list):
    string = ' '.join(word_list)
    return string

word_list = ["This", "is", "a", "list", "of", "words"]
result_string = list_of_words_to_string(word_list)

print("List of words:", word_list)
print("Resulting string:", result_string)

List of words: ['This', 'is', 'a', 'list', 'of', 'words']
Resulting string: This is a list of words

In [21]:
def powers_of_2(n):
    return [2 ** i for i in range(n)]

n = 5  
power_list = powers_of_2(n)

print(f"The first {n} powers of 2 are:", power_list)

The first 5 powers of 2 are: [1, 2, 4, 8, 16]

In [22]:
def find_longest_string(string_list):
    if not string_list:
        return None  

    longest_string = max(string_list, key=len)
    return longest_string

string_list = ["apple", "banana", "cherry", "date", "elderberry"]
longest = find_longest_string(string_list)

if longest is not None:
    print("Longest string:", longest)
else:
    print("The list is empty.")

Longest string: elderberry

In [23]:
def find_shortest_string(string_list):
    if not string_list:
        return None 

    shortest_string = min(string_list, key=len)
    return shortest_string

string_list = ["apple", "banana", "cherry", "date", "elderberry"]
shortest = find_shortest_string(string_list)

if shortest is not None:
    print("Shortest string:", shortest)
else:
    print("The list is empty.")

Shortest string: date

In [24]:
def generate_triangular_numbers(n):
    return [(i * (i + 1)) // 2 for i in range(1, n + 1)]

n = 5 
triangular_numbers = generate_triangular_numbers(n)

print(f"The first {n} triangular numbers are:", triangular_numbers)

The first 5 triangular numbers are: [1, 3, 6, 10, 15]

In [26]:
def is_subsequence(sublist, mainlist):
    sub_len = len(sublist)
    main_len = len(mainlist)
    sub_index = 0

    for element in mainlist:
        if sublist[sub_index] == element:
            sub_index += 1
        if sub_index == sub_len:
            return True

    return sub_index == sub_len

main_list = [1, 2, 3, 4, 5, 6, 7]
sub_list = [2, 4, 6]

if is_subsequence(sub_list, main_list):
    print("The sub_list is a subsequence of main_list.")
else:
    print("The sub_list is not a subsequence of main_list.")

The sub_list is a subsequence of main_list.

In [27]:
def swap_elements_by_indices(input_list, index1, index2):
    if 0 <= index1 < len(input_list) and 0 <= index2 < len(input_list):
        input_list[index1], input_list[index2] = input_list[index2], input_list[index1]

my_list = [1, 2, 3, 4, 5]
index1 = 1  # Index of the first element to swap
index2 = 3  # Index of the second element to swap

print("Original list:", my_list)
swap_elements_by_indices(my_list, index1, index2)
print("List after swapping elements at indices", index1, "and", index2, ":", my_list)

Original list: [1, 2, 3, 4, 5]
List after swapping elements at indices 1 and 3 : [1, 4, 3, 2, 5]