In [2]:
my_tuple=(1,2,3,4,5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [3]:
my_tuple=(1,2,3,4,5)
print(my_tuple[2])

3

In [4]:
my_tuple=(1,2,3,4,5)
length=0
for i in my_tuple:
    length+=1
print("Lenghth = ", length)

Lenghth =  5

In [6]:
my_tuple=(1,2,3,4,5,2)
element=2
count=my_tuple.count(element)
print(f"Occurrences of {element} in {my_tuple} is {count}")

Occurrences of 2 in (1, 2, 3, 4, 5, 2) is 2

In [7]:
my_tuple=(1,2,3,4,5,2)
element=2
count=my_tuple.index(element)
print(f"Occurrences of {element} in {my_tuple} is {count}")

Occurrences of 2 in (1, 2, 3, 4, 5, 2) is 1

In [9]:
my_tuple=(1,2,3,4,5,2)
element=2
if element in my_tuple:
    print(f"{element} is in {my_tuple}")
else:
        print(f"{element} is not in {my_tuple}")

2 is in (1, 2, 3, 4, 5, 2)

In [11]:
my_tuple=(1,2,3,4,5,2)

type(list(my_tuple))

list

In [12]:
my_list=[1,2,3]
type(tuple(my_list))

tuple

In [13]:
my_tuple=(1,2,3)
for i in my_tuple:
    print(i)

1
2
3

In [14]:
numbers=range(1,11)
even_numbers=tuple(filter(lambda x:x%2==0,numbers))
print(even_numbers)

(2, 4, 6, 8, 10)

In [15]:
numbers=range(1,11)
even_numbers=tuple(filter(lambda x:x%2!=0,numbers))
print(even_numbers)

(1, 3, 5, 7, 9)

In [16]:
my_tuple=(1,2,3)
my_tuple_1=(1,2,3,4,5,2)
concatenate=my_tuple+my_tuple_1
print(concatenate)

(1, 2, 3, 1, 2, 3, 4, 5, 2)

In [17]:
my_tuple=(1,2,3,4,5)
n= 3*(1,2,3,4,5)
print(n)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [24]:
my_tuple=(1)
my_tuple_1=()
if not my_tuple_1:
    print("my_tuple_1 it is an empty tuple")
else:
    print("my_tuple_1 It is not an empty tuple")
if not my_tuple:
    print(f"my_tuple it is an empty tuple")
else:
    print("my_tuple It is not an empty tuple")

my_tuple_1 it is an empty tuple
my_tuple It is not an empty tuple

In [25]:
nested_tuple=((1,2),(3,4))
print(nested_tuple)

((1, 2), (3, 4))

In [26]:
nested_tuple=((1,2),(3,4))
first_nested_element = nested_tuple[0][0]
print(first_nested_element)

1

In [29]:
my_tuple=(1,)
print(my_tuple)

(1,)

In [31]:
my_tuple=(1,2,3)
my_tuple_1=(1,2,3,4,5,2)
if my_tuple==my_tuple_1:
    print("both are equal")
elif my_tuple!=my_tuple_1:
    print("both are not equal")
elif my_tuple>my_tuple_1:
    print("my_tuple is graeter than my_tuple_1")
else:
    print("Enter valid tuples")

both are not equal

In [32]:
my_tuple=(1,2,3)
del my_tuple

In [38]:
my_tuple=(1,2,3)
#sliced_tuple=my_tuple[start:stop:step]
slic_ele=my_tuple[2:4]
print(slic_ele)

(3,)

In [39]:
my_tuple=(1,2,3)
max_el=max(my_tuple)
print(max_el)

3

In [40]:
my_tuple=(1,2,3)
max_el=min(my_tuple)
print(max_el)

1

In [41]:
my_string="Harshini"
char_tup=tuple(my_string)
print(char_tup)

('H', 'a', 'r', 's', 'h', 'i', 'n', 'i')

In [43]:
my_tuple=('H', 'a', 'r', 's', 'h', 'i', 'n', 'i')

char_tup=''.join(my_tuple)
print(char_tup)

Harshini

In [44]:
my_tuple=(11, 'a', 11.1, [1,2,3], {'i':'Yes', 'n':11, 'i':1})
print(my_tuple)

(11, 'a', 11.1, [1, 2, 3], {'i': 1, 'n': 11})

In [45]:
my_tuple=(1,2,3)
my_tuple_1=(1,2,3,4,5,2)
if my_tuple==my_tuple_1:
    print("both are identical")
else :
    print("not identical")

not identical

In [47]:
my_tuple=(11,23,44,1,2,3)
sort_tuple=sorted(my_tuple)
sort_tuple_=tuple(sort_tuple)
print(sort_tuple_)

(1, 2, 3, 11, 23, 44)

In [48]:
tuple_=(1,2,3)
tuple_of_str=tuple(str(x) for x in tuple_)
print(tuple_of_str)

('1', '2', '3')

In [49]:
tuple_=('1', '2', '3')

tuple_of_str=tuple(int(x) for x in tuple_)
print(tuple_of_str)

(1, 2, 3)

In [50]:
my_tuple=(1,2,3)
my_tuple_1=(1,2,3,4,5,2)
mergring=my_tuple+my_tuple_1
print(mergring)

(1, 2, 3, 1, 2, 3, 4, 5, 2)

In [56]:
def  flatten_tuple(nested_tuple):
    flattened=[]
    stack=list(nested_tuple)
    while stack:
        current=stack.pop()
        if isinstance(current,tuple):
            stack.extend(reversed(current))
        else:
            flattened.append(current)
    return tuple(flattened)     
nested_tuple=((1,2),44,(3,4,56))
flattened_tuple=flatten_tuple(nested_tuple)
print(flattened_tuple)

(3, 4, 56, 44, 1, 2)

In [57]:
def is_prime(num):
    if num<2:
        return False
    for i in range(2,int(num**0.5)+1):
        if num%i==0:
            return False
    return True
prime_numbers=[]
number=2
while len(prime_numbers)<5:
    if is_prime(number):
        prime_numbers.append(number)
    number+=1
prime_tuple=tuple(prime_numbers)
print(prime_tuple)

(2, 3, 5, 7, 11)

In [61]:
def is_palindrome(my_tuple):
    return my_tuple==my_tuple[::-1]
my_tuple=(1,2,3,4,3,2,1)
if is_palindrome(my_tuple):
    print("Tuple is a palindrome")
else:
    print("Tuple is not palindrome")

Tuple is a palindrome

In [14]:
my_tuple=[]
for i in range(1,6):
    i_=i**2
    my_tuple.append(i_)
print(tuple(my_tuple))

(1, 4, 9, 16, 25)

In [18]:
my_tuple=(1,2,3,4,5,6,7,8,9,11,12,22,33,44,55)
even_numbers=tuple(filter(lambda x:x%2==0,my_tuple))
print(even_numbers)

(2, 4, 6, 8, 12, 22, 44)

In [19]:
my_tuple=(1,2,3,4,5,6,7,8,9,11,12,22,33,44,55)
multiply=tuple(x*2 for x in my_tuple)
print(multiply)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 22, 24, 44, 66, 88, 110)

In [3]:
import random

random_numbers = (random.randint(1, 100), random.randint(1, 100), random.randint(1, 100))

print(random_numbers)

(60, 27, 31)

In [4]:
def is_sorted_tuple(t):
    return t == tuple(sorted(t))
my_tuple = (1, 3, 5, 7, 9)
is_sorted = is_sorted_tuple(my_tuple)

if is_sorted:
    print("The tuple is sorted.")
else:
    print("The tuple is not sorted.")

The tuple is sorted.

In [5]:
def rotate_tuple_left(t, n):
    n = n % len(t)  
    return t[n:] + t[:n]

original_tuple = (1, 2, 3, 4, 5)
n = 2 
rotated_tuple = rotate_tuple_left(original_tuple, n)

print("Original Tuple:", original_tuple)
print(f"Rotated Tuple ({n} positions left):", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Rotated Tuple (2 positions left): (3, 4, 5, 1, 2)

In [6]:
def rotate_tuple_right(t, n):
    n = n % len(t)  
    return t[-n:] + t[:-n]

original_tuple = (1, 2, 3, 4, 5)
n = 2  
rotated_tuple = rotate_tuple_right(original_tuple, n)

print("Original Tuple:", original_tuple)
print(f"Rotated Tuple ({n} positions right):", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Rotated Tuple (2 positions right): (4, 5, 1, 2, 3)

In [7]:
def generate_fibonacci(n):
    fibonacci = [0, 1]
    while len(fibonacci) < n:
        next_number = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_number)
    return tuple(fibonacci)

fibonacci_tuple = generate_fibonacci(5)

print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [8]:
user_input = input("Enter values separated by spaces: ")

input_list = user_input.split()

user_tuple = tuple(input_list)

print("Tuple from user input:", user_tuple)

Enter values separated by spaces:  1 2 3 4

Tuple from user input: ('1', '2', '3', '4')

In [9]:
my_tuple = (1, 2, 3, 4, 5)

tuple_list = list(my_tuple)

index1, index2 = 0, 1
tuple_list[index1], tuple_list[index2] = tuple_list[index2], tuple_list[index1]

swapped_tuple = tuple(tuple_list)

print("Original Tuple:", my_tuple)
print("Tuple after swapping elements:", swapped_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Tuple after swapping elements: (2, 1, 3, 4, 5)

In [10]:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = tuple(reversed(my_tuple))

print("Original Tuple:", my_tuple)
print("Reversed Tuple:", reversed_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)

In [11]:
n = 5 
powers_of_2_tuple = tuple(2**i for i in range(n))

print(powers_of_2_tuple)

(1, 2, 4, 8, 16)

In [12]:
string_tuple = ("apple", "banana", "cherry", "date", "fig", "grape")

longest_string = ""

for string in string_tuple:
    if len(string) > len(longest_string):
        longest_string = string

print("Longest String:", longest_string)

Longest String: banana

In [13]:
string_tuple = ("apple", "banana", "cherry", "date", "fig", "grape")

shortest_string = None
for string in string_tuple:
    if shortest_string is None or len(string) < len(shortest_string):
        shortest_string = string

print("Shortest String:", shortest_string)

Shortest String: fig

In [14]:
n = 5  
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

print(triangular_numbers_tuple)

(1, 3, 6, 10, 15)

In [15]:
def contains_subsequence(main_tuple, sub_tuple):
    if len(sub_tuple) == 0:
        return True 
    if len(main_tuple) < len(sub_tuple):
        return False  
    for i in range(len(main_tuple) - len(sub_tuple) + 1):
        if main_tuple[i:i + len(sub_tuple)] == sub_tuple:
            return True

    return False
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8)
sub_tuple = (3, 4, 5)

if contains_subsequence(main_tuple, sub_tuple):
    print("The main tuple contains the subsequence.")
else:
    print("The main tuple does not contain the subsequence.")

The main tuple contains the subsequence.

In [16]:
n = 10  
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))

print(alternating_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)